<app-template-component>
	<div class="login-page">
		@if (uiService.mediaQueryHandler.isMob() || uiService.mediaQueryHandler.isTel()) {
			<swiper (slideChange)="onSwipeChanged($event)"
			        [effect]="'cards'"
			        [grabCursor]="true"
			        [longSwipesRatio]="0.3"
			        [loop]="true"
			        [runCallbacksOnInit]="true"
			        [shortSwipes]="false"
			        [speed]="speedSwiper()"
			        class="login-form__container--mobile">
				<ng-template swiperSlide>
					<app-authentification-component class="login"></app-authentification-component>
				</ng-template>
				<ng-template swiperSlide>
					<app-register-component class="register"></app-register-component>
				</ng-template>
			</swiper>
		} @else {
			<div class="login-form__container--desktop">
				<app-authentification-component class="login"></app-authentification-component>
				<app-register-component class="register"></app-register-component>
				<div class="form-cover"
				     [attr.about]="currentForm().name()"
				     (transitionend)="onTransitionEnd($event)">
					<div class="form-cover__circle--top"
					     [attr.about]="currentForm().name()"></div>
					<div class="form-cover__container"
					     [class.isSwitching]="isSwitching()">
						<h1 class="form-cover__text">
							{{
								(currentForm().name() === 'registration' ? langHelper.loginCover("SIGN_UP", "TITLE") :
										langHelper.loginCover("SIGN_IN", "TITLE")) | transloco
							}}
						</h1>
						<p
								class="form-cover__text--info">
							{{
								(currentForm().name() === 'registration' ? langHelper.loginCover("SIGN_UP", "DESCRIPTION") :
										langHelper.loginCover("SIGN_IN", "DESCRIPTION")) | transloco
							}}
						</p>
						<button class="form-cover__button"
						        [disabled]="currentForm().accountForm().disabled"
						        (click)="onSwitchPage()">{{
								(currentForm().name() === 'registration' ? langHelper.loginCover("SIGN_UP", "ACTION") :
										langHelper.loginCover("SIGN_IN", "ACTION")) | transloco
							}}
						</button>
					</div>
					<div class="form-cover__circle--bottom"
					     [attr.about]="currentForm().name()"></div>
				</div>
			</div>
		}
	</div>
</app-template-component>