@use "mixins" as *;
@use "placeholders" as *;
.login-page {
	display: grid;
	padding: 50px;
	place-items: center;
	position: relative;
}
.login-form__container--desktop {
	display: grid;
	grid-column-gap: calc(var(--standart-padding) / 2);
	grid-template-areas:"login-form register-form";
	grid-template-columns: repeat(2, 1fr);
	max-height: 800px;
	max-width: 1100px;
	overflow: hidden;
	min-height: max-content;
	min-width: max-content;
	position: relative;
	width: 50%;
	@include blur-effect();
}
.login-form__container--mobile {
	display: grid;
	max-height: 90%;
	max-width: 85vw;
	width: 85vw;
	::ng-deep .swiper-slide {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		border-radius: var(--border-radius);
		box-shadow: var(--base-shadow);
	}
	::ng-deep .swiper-slide-shadow {
		background: transparent;
	}
	::ng-deep .swiper-slide:not(.swiper-slide-visible) {
		opacity: 0;
	}
}
%form {
	display: grid;
	height: 100%;
}
.login {
	@extend %form;
	grid-area: login-form;
}
.register {
	@extend %form;
	grid-area: register-form;
}
.form-cover {
	height: 100%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transform-origin: center;
	width: 50%;
	@include blur-effect($blur-pixels: 30px);
}
%box-base {
	box-shadow: var(--inset-active-shadow);
	position: absolute;
	@include transition-builder($transition-shadow, $transition-position);
}
.form-cover__circle--top {
	border-radius: 50%;
	@extend %box-base;
	height: 22rem;
	right: 0;
	top: 0;
	transform: translate(50%, -50%);
	width: 22rem;
}
.form-cover__circle--bottom {
	border-radius: 50%;
	@extend %box-base;
	bottom: 0;
	height: 17rem;
	left: 0;
	transform: translate(-50%, 50%);
	width: 17rem;
}
.form-cover__container {
	display: grid;
	grid-row-gap: var(--standart-padding);
	height: max-content;
	left: 50%;
	max-width: 80%;
	overflow: hidden;
	padding: var(--standart-padding);
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: max-content;
	&.isSwitching {
		opacity: 0;
		transition-duration: 0s;
	}
}
.form-cover__text--info {
	align-self: center;
	border-radius: 25%;
	cursor: text;
	padding: var(--standart-padding) 0;
	text-align: center;
	width: 100%;
}
.form-cover__text {
	font-size: 2rem;
	place-self: center;
	text-align: center;
	text-shadow: var(--text-base-shadow);
	white-space: normal;
	width: 100%;
	word-break: break-word;
}
.form-cover__button {
	@extend %neo-btn;
	min-width: 12rem;
	place-self: center;
}
@include respond-to-multiple("tel", "mob") {
	.login-page {
		overflow-x: hidden;
		padding: 0;
	}
	.login-form__container--desktop {
		display: none;
	}
}
@include respond-to("tab") {
	.form-cover__text {
		font-size: 1.5rem;
	}
	.login-page{
		padding: 1px;
	}
}
