<app-template-component>
	<div class="login-page">
		@if (!uiService.mediaQueryHandler.isMob() && !uiService.mediaQueryHandler.isTel()) {
			<div class="login-form__container--desktop">
				<app-authentification-component class="login"></app-authentification-component>
				<app-register-component class="register"></app-register-component>
				<div (@switchPageAnimation.done)="onAnimationDone($event)"
				     [@switchPageAnimation]="{value: currentForm().name() , params:{
			     duration : duration(), transition : transitionShoot()
			     }}"
				     class="form-cover">
					<div [@circleRightAnimation]="{value: currentForm().name() , params:{
			     duration : circleDuration(), transition : transitionShoot()
			     }}"
					     class="form-cover__circle--top">
					</div>
					<div class="form-cover__container"
					     [class.isSwitching]="isSwitching()">
						<h1 class="form-cover__text">
							{{
								(currentForm().name() === 'registration' ? "LOGIN_PAGE.SIGN_UP_COVER.TITLE" :
										"LOGIN_PAGE.SIGN_IN_COVER.TITLE") | translate
							}}
						</h1>
						<p
								class="form-cover__text--info">
							{{
								(currentForm().name() === 'registration' ? "LOGIN_PAGE.SIGN_UP_COVER.DESCRIPTION" :
										"LOGIN_PAGE.SIGN_IN_COVER.DESCRIPTION") | translate
							}}
						</p>
						<button class="form-cover__button"
						        [disabled]="currentForm().isExecuting()"
						        (click)="onSwitchPage()">{{
								(currentForm().name() === 'registration' ? "LOGIN_PAGE.SIGN_UP_COVER.ACTION" :
										"LOGIN_PAGE.SIGN_IN_COVER.ACTION") | translate
							}}
						</button>
					</div>
					<div [@circleLeftAnimation]="{value: currentForm().name() , params:{
			     duration : circleDuration(), transition : transitionShoot()
			     }}"
					     class="form-cover__circle--bottom"></div>
				</div>
			</div>
		}
		@if (uiService.mediaQueryHandler.isMob() || uiService.mediaQueryHandler.isTel()) {
			<swiper (slideChange)="onSwipeChanged($event)"
			        [effect]="'cards'"
			        [grabCursor]="true"
			        [longSwipesRatio]="0.3"
			        [loop]="true"
			        [runCallbacksOnInit]="true"
			        [shortSwipes]="false"
			        [speed]="speedSwiper()"
			        class="login-form__container--mobile">
				<ng-template swiperSlide>
					<app-authentification-component class="login"></app-authentification-component>
				</ng-template>
				<ng-template swiperSlide>
					<app-register-component class="register"></app-register-component>
				</ng-template>
			</swiper>
		}
	</div>
</app-template-component>