@use "mixins" as *;
@use "placeholders" as *;
.not-found {
	display: grid;
	height: 100dvh;
	overflow: auto;
	padding: 3rem;
	place-items: center;
	width: 100%;
}
.not-found__container {
	display: grid;
	grid-gap: var(--standart-padding);
	place-items: center;
	place-self: center;
}
.not-found__title {
	color: var(--background-color);
	font-size: 15rem;
	line-height: 0.9;
	padding: 0;
	text-align: center;
	text-shadow: var(--text-base-shadow);
	user-select: none;
}
.not-found__description {
	max-width: 45ch;
	overflow-wrap: break-word;
	text-align: center;
	white-space: normal;
	word-wrap: break-word;
}
.not-found__link {
	margin-bottom: var(--standart-padding);
	margin-top: var(--standart-padding);
	min-width: 10rem;
	text-align: center;
	@extend %neo-btn;
}
@include respond-to-multiple("tel", "mob") {
	.not-found {
		padding: 10px;
	}
	.not-found__title{
		font-size: 12rem;
	}
}