@use "mixins" as *;
@use "placeholders" as *;
.not-found {
	display: grid;
	grid-gap: var(--standart-padding);
	height: 100dvh;
	place-content: center;
	place-items: center;
	width: 100dvw;
}
.not-found__title {
	color: var(--background-color);
	font-size: 15rem;
	line-height: 0.9;
	padding: 0;
	text-align: center;
	text-shadow: var(--text-base-shadow);
	user-select: none;
}
.not-found__description {
	max-width: 45ch;
	overflow-wrap: break-word;
	text-align: center;
	white-space: normal;
	word-wrap: break-word;
}
.not-found__link {
	margin-top: var(--standart-padding);
	min-width: 10rem;
	text-align: center;
	@extend %neo-btn;
}
