<div class="forgot">
	<header class="forgot__header">
		<h3 class="forgot__title">{{langHelper.loginForm('FORGOT', 'TITLE') | transloco}}</h3>
		<button (click)="onClose()"
		        class="forgot__close">
			<svg class="forgot__icon">
				<use [attr.href]="uiService.buildIconSvgPath('user-close-icon')"></use>
			</svg>
		</button>
	</header>
	@if (forgotService.accountForm(); as forgot) {
		<form class="forgot__form"
		      [formGroup]="forgot">
			<app-input-element [inputType]="'email'"
			                   [clearIconIsVisible]="true"
			                   [formControlName]="'email'"
			                   cdkFocusInitial
			                   [placeholder]="{
			                                    iconPath: uiService.buildIconSvgPath('user-email-icon'),
			                                    description: langHelper.emailField('DESCRIPTION') | transloco,
			                                    action: langHelper.emailField('ACTION') | transloco}"
			                   class="forgot__input"></app-input-element>
			<button [disabled]="forgot.disabled"
			        (click)="onSubmitForgotForm()"
			        type="button"
			        class="forgot__submit">{{langHelper.loginForm('FORGOT', 'ACTION') | transloco}}
			</button>
		</form>
	}
</div>
