@if (authentificationService.accountForm(); as auth) {
	<form [formGroup]="auth"
	      class="form-login">
		<h1 [class.disabled]="auth.disabled"
		    class="login-text">{{langHelper.loginForm('SIGN_IN', 'TITLE') | transloco}}</h1>
		<app-input-element [clearIconIsVisible]="true"
		                   [formControlName]="'email'"
		                   [inputType]="'email'"
		                   [disabled]="auth.disabled || authentificationService.isExecuting()"
		                   [placeholder]="{
		                                    iconPath: uiService.buildIconSvgPath('user-email-icon'),
		                                    description: langHelper.emailField('DESCRIPTION') | transloco,
		                                    action: langHelper.emailField('ACTION') | transloco}"
		                   class="login-username">
		</app-input-element>
		<app-input-element [eyeIconIsVisible]="true"
		                   [formControlName]="'password'"
		                   [inputType]="'password'"
		                   [disabled]="auth.disabled || authentificationService.isExecuting()"
		                   [placeholder]="{
		                                    iconPath: uiService.buildIconSvgPath('password-icon'),
		                                    description: langHelper.passwordField('DESCRIPTION') | transloco,
		                                    action: langHelper.passwordField('ACTION') | transloco}"
		                   class="login-password">
		</app-input-element>
		<button [class.disabled]="auth.disabled || authentificationService.isExecuting()"
		        (click)="onShowForgotForm()"
		        type="button"
		        tabindex="0"
		        class="forgot-button">{{langHelper.forgotPassword() | transloco}}
		</button>
		<button [disabled]="auth.disabled || authentificationService.isExecuting()"
		        class="login-button"
		        type="button"
		        (click)="onSubmitAuthForm()">
			{{langHelper.loginForm('SIGN_IN', 'ACTION') | transloco}}
		</button>
		<div [class.disabled]="auth.disabled"
		     class="information-container">
			<svg class="information-icon">
				<use [attr.href]="uiService.buildIconSvgPath('info-circle-icon')"></use>
			</svg>
			<span class="information-text">{{langHelper.loginInfo() | transloco}}</span>
		</div>
	</form>
}