@if (authentificationService.authForm(); as auth) {
	<form [formGroup]="auth"
	      class="form-login">
		<h1 [class.disabled]="auth.disabled"
		    class="login-text">{{"LOGIN_PAGE.SIGN_IN_FORM.TITLE" | translate}}</h1>
		<app-input-element [clearIconIsVisible]="true"
		                   [formControlName]="'username'"
		                   [inputErrorHint]="validatorHandlerService.getErrorMessage(auth.controls.username)"
		                   [inputType]="'text'"
		                   [placeholder]="{iconPath:buildIconSvgPath('user-icon'),
		                   description:'LOGIN_PAGE.USERNAME.DESCRIPTION' | translate,
		                   action: 'LOGIN_PAGE.USERNAME.ACTION' | translate}"
		                   class="login-username">
		</app-input-element>
		<app-input-element [eyeIconIsVisible]="true"
		                   [formControlName]="'password'"
		                   [inputErrorHint]="validatorHandlerService.getErrorMessage(auth.controls.password)"
		                   [inputType]="'password'"
		                   [placeholder]="{iconPath:buildIconSvgPath('password-icon'),
                           description:'LOGIN_PAGE.PASSWORD.DESCRIPTION' | translate,
                           action: 'LOGIN_PAGE.PASSWORD.ACTION' | translate}"
		                   class="login-password">
		</app-input-element>
		<a [class.disabled]="auth.disabled"
		   [routerLink]="'/main'"
		   class="login-hyperlink">{{"LOGIN_PAGE.FORGOT_PASSWORD" | translate}}</a>
		<button (click)="authentificationService.onSubmitAuthForm()"
		        [disabled]="auth.disabled"
		        class="login-button">
			{{"LOGIN_PAGE.SIGN_IN_FORM.ACTION" | translate}}
		</button>
		<div [class.disabled]="auth.disabled"
		     class="information-container">
			<svg class="information-icon">
				<use [attr.href]="buildIconSvgPath('information-icon')"></use>
			</svg>
			<span class="information-text">{{"LOGIN_PAGE.SIGN_INFO" | translate}}</span>
		</div>
	</form>
}

