@use "mixins" as *;
@use "sass:map" as *;
$transition-modes: (
		active: (
				transition-duration: 0.2s,
				transition-shake-style: cubic-bezier(0.36, 0.07, 0.19, 0.97),
				transition-shoot-style: cubic-bezier(0.8, -0.25, 0.2, 1.25),
				transition-style: ease-in-out,
				long-transition-duration: 3s,
				medium-transition-duration: 1s
		),
		reduce: (
				transition-duration: 0s,
				transition-shake-style: linear,
				transition-shoot-style: linear,
				transition-style: linear,
				long-transition-duration: 0s,
				medium-transition-duration: 0s
		)
);
@mixin apply-motion-mode($mode) {
	@include generate-vars(get($transition-modes, $mode));
}
html {
	&[anim="active"] {
		@include apply-motion-mode(active);
	}
	&[anim="reduce"] {
		@include apply-motion-mode(reduce);
	}
	&[anim="system"] {
		@media (prefers-reduced-motion: no-preference) {
			@include apply-motion-mode(active);
		}
		@media (prefers-reduced-motion: reduce) {
			@include apply-motion-mode(reduce);
		}
	}
	.modal-animate-in {
		animation: scale-in var(--transition-duration) var(--transition-style) forwards;
	}
	.modal-animate-out {
		animation: scale-out var(--transition-duration) var(--transition-style) forwards;
	}
}
