@use "mixins" as *;
@use "sass:color" as *;
@use "sass:map" as *;
$theme-colors: (
		primary-color: #01BAEF,
		secondary-color: #0B4F6C,
		accent-color: #008B8B,
		error-color: scale(tomato, $lightness: -15%),
		success-color: #4CAF50,
		warning-color: #FFC107,
		info-color: #77B6EA,
);
$theme-vars: (
		light: (
				background-color: #E0E0E0,
				bottom-color-shadow: #00000050,
				top-color-shadow: #F8FAFC65,
				text-main-color: #000000CC,
				text-muted-color: #6A8395,
				background-picture: url("assets/icons/light-background.avif"),
		),
		dark: (
				background-color: #242129,
				bottom-color-shadow: #00000080,
				top-color-shadow: #C0C0C015,
				text-main-color: #FFFFFF,
				text-muted-color: #AAB8C2,
				background-picture: url("assets/icons/dark-background.avif"),
		)
);
@mixin apply-theme($theme, $percentage) {
	@include generate-vars(get($theme-vars, $theme));
	@include generate-colors-theme($theme-map: $theme-colors, $percentage: $percentage);
	@include generate-text-shadow($top-shadow: var(--top-color-shadow), $bottom-shadow: var(--bottom-color-shadow));
	@include generate-shadows($top-shadow: var(--top-color-shadow), $bottom-shadow: var(--bottom-color-shadow));
}
html {
	&[theme="dark"] {
		@include apply-theme(dark, 5%);
	}
	&[theme="light"] {
		@include apply-theme(light, -10%);
	}
	&[theme="system"] {
		@media (prefers-color-scheme: light) {
			@include apply-theme(light, -10%);
		}
		@media (prefers-color-scheme: dark) {
			@include apply-theme(dark, 5%);
		}
	}
}
