@use "mixins" as *;
:root {
	transition-duration: 0s;
}
* {
	background: transparent;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&::selection {
		background: var(--info-color);
	}
	&:focus, &:focus-visible {
		outline: none;
	}
	@include transition-builder($transition-base);
}
html,
body {
	background: var(--background-color);
	color: var(--text-main-color);
	font-family: Manrope, serif;
	font-style: normal;
	font-weight: 500;
	overflow: hidden;
	overscroll-behavior: none;
	@include responsiveFont();
}
.overlay-backdrop {
	& + .cdk-overlay-connected-position-bounding-box, & + .cdk-global-overlay-wrapper {
		@include blur-effect($blur-pixels: 5px);
	}
}
