@use "mixins" as *;
* {
	background: transparent;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&::selection {
		background: var(--info-color);
	}
	&:focus, &:focus-visible {
		outline: none;
	}
	@include transition-builder($transition-base);
}
:root{
	@include responsiveFont();
}
body {
	background: var(--background-color);
	color: var(--text-main-color);
	font-family: Manrope, serif;
	font-style: normal;
	font-weight: 500;
}
.overlay-backdrop {
	& + .cdk-overlay-connected-position-bounding-box, & + .cdk-global-overlay-wrapper {
		@include blur-effect($blur-pixels: 5px);
	}
}
.slide-in-scale{
	animation: scale-in var(--transition-duration) var(--transition-style) forwards;
}
.slide-out-scale{
	animation: scale-out var(--transition-duration) var(--transition-style) forwards;
}