@keyframes shake {
	0%, 100% {
		transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translateX(-1px);
	}
	20%, 40%, 60%, 80% {
		transform: translateX(1px);
	}
}
@keyframes scale-in {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
@keyframes scale-out {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
@keyframes detect-scroll {
	from, to {
		--can-scroll: 1 ;
	}
}