@use "mixins" as *;
@use "placeholders" as *;
.notyf {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	inset: 0;
	justify-content: flex-end;
	padding: 5rem 1rem;
	pointer-events: none;
	position: fixed;
	z-index: 1500;
}
.notyf__toast {
	animation: scale-in var(--transition-duration) forwards;
	display: block;
	max-width: 20rem;
	min-width: 10rem;
	overflow: hidden;
	pointer-events: auto;
	position: relative;
	transform-origin: bottom right;
	@include blur-effect();
	@include apply-shadow-on-action($isUsingActive: false);
}
.notyf__toast--disappear {
	animation: scale-out var(--transition-duration) forwards;
	transform-origin: bottom right;
}
.notyf__toast--upper {
	margin-bottom: 1rem;
}
.notyf__toast--lower {
	margin-top: 1rem;
}
.notyf__wrapper {
	--padding: 0.7rem;
	display: grid;
	grid-auto-flow: column;
	grid-gap: var(--padding);
	grid-template-columns: max-content 1fr max-content;
	padding: var(--padding);
	position: relative;
}
.notyf__dismiss {
	display: grid;
}
.notyf__dismiss-btn {
	aspect-ratio: 1/1;
	cursor: pointer;
	place-self: center;
	position: relative;
	@extend %neo-btn;
}
.notyf__dismiss-btn::after {
	aspect-ratio: 1/1;
	background-color: var(--text-main-color);
	content: "";
	left: 50%;
	-webkit-mask: url("/assets/icons/user-delete-icon.svg") no-repeat center;
	mask: url("/assets/icons/user-delete-icon.svg") no-repeat center;
	-webkit-mask-size: contain;
	mask-size: contain;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 2rem;
}
.notyf__message {
	align-self: center;
	position: relative;
	text-align: left;
}
.notyf__icon {
	display: grid;
	place-items: center;
}
%notyf-icon-base {
	aspect-ratio: 1 / 1;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	width: 2rem;
}
.notyf__icon--success {
	@extend %notyf-icon-base;
	background-color: var(--success-color);
	-webkit-mask-image: url("/assets/icons/check-circle-icon.svg");
	mask-image: url("/assets/icons/check-circle-icon.svg");
}
.notyf__icon--error {
	@extend %notyf-icon-base;
	background-color: var(--error-color);
	-webkit-mask-image: url("/assets/icons/error-circle-icon.svg");
	mask-image: url("/assets/icons/error-circle-icon.svg");
}
.notyf__icon--info {
	@extend %notyf-icon-base;
	background-color: var(--info-color);
	-webkit-mask-image: url("/assets/icons/info-circle-icon.svg");
	mask-image: url("/assets/icons/info-circle-icon.svg");
}
.notyf__icon--warning {
	@extend %notyf-icon-base;
	background-color: var(--warning-color);
	-webkit-mask-image: url("/assets/icons/warning-circle-icon.svg");
	mask-image: url("/assets/icons/warning-circle-icon.svg");
}