@use "mixins" as *;
#container {
	align-items: center;
	display: flex;
	height: 12rem;
	justify-content: center;
	position: relative;
	width: 12rem;
	@include blur-effect($border-radius: 50%, $shadow-type: var(--inset-active-shadow));
}
#h3 {
	color: var(--text-main-color);
	font-size: 1.2rem;
	z-index: 100;
}
#ring {
	border: 1px solid transparent;
	border-radius: 50%;
	height: 10rem;
	position: absolute;
	width: 10rem;
}
#ring:nth-child(1) {
	animation: rotate1 2s linear infinite;
	-webkit-animation: rotate1-webkit 2s linear infinite;
	border-bottom: 0.5rem solid var(--error-color);
}
@keyframes rotate1 {
	from {
		transform: rotateX(50deg) rotateZ(110deg);
	}
	to {
		transform: rotateX(50deg) rotateZ(470deg);
	}
}
@-webkit-keyframes rotate1-webkit {
	from {
		-webkit-transform: rotateX(50deg) rotateZ(110deg);
	}
	to {
		-webkit-transform: rotateX(50deg) rotateZ(470deg);
	}
}
#ring:nth-child(2) {
	animation: rotate2 2s linear infinite;
	-webkit-animation: rotate2-webkit 2s linear infinite;
	border-bottom: 0.5rem solid var(--success-color);
}
@keyframes rotate2 {
	from {
		transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
	}
	to {
		transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
	}
}
@-webkit-keyframes rotate2-webkit {
	from {
		-webkit-transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
	}
	to {
		-webkit-transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
	}
}
#ring:nth-child(3) {
	animation: rotate3 2s linear infinite;
	-webkit-animation: rotate3-webkit 2s linear infinite;
	border-bottom: 0.5rem solid var(--warning-color);
}
@keyframes rotate3 {
	from {
		transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
	}
	to {
		transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
	}
}
@-webkit-keyframes rotate3-webkit {
	from {
		-webkit-transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
	}
	to {
		-webkit-transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
	}
}
#ring:nth-child(4) {
	animation: rotate4 2s linear infinite;
	-webkit-animation: rotate4-webkit 2s linear infinite;
	border-bottom: 0.5rem solid var(--info-color);
}
@keyframes rotate4 {
	from {
		transform: rotateX(70deg) rotateZ(270deg);
	}
	to {
		transform: rotateX(70deg) rotateZ(630deg);
	}
}
@-webkit-keyframes rotate4-webkit {
	from {
		-webkit-transform: rotateX(70deg) rotateZ(270deg);
	}
	to {
		-webkit-transform: rotateX(70deg) rotateZ(630deg);
	}
}