<app-template-component [footerHeight]="0"
                        [headerHeight]="0">
	<div class="email-confirm__container">
		<h1 class="email-confirm__title">{{langHelper.emailConfirmationPage("TITLE") | transloco}}</h1>
		@let isConf = isEmailConfirmed();
		<svg [style.color]="isConf ? 'var(--success-color)' : 'var(--error-color)'"
		     class="email-confirm__icon">
			<use [attr.href]="uiService.buildIconSvgPath(
					isConf? 'check-circle-icon' : 'error-circle-icon')"></use>
		</svg>
		<p class="email-confirm__description"
		   *transloco="let t">
			{{
				isConf ? t(langHelper.emailConfirmationDescription("SUCCESS")) :
						t(langHelper.emailConfirmationDescription("FAILURE"))
			}}
		</p>
		<button (click)="isConf ? onLoginPage() : onReloadPage()"
		        class="email-confirm__link"
		        *transloco="let t">
			{{
				isConf ? t(langHelper.emailConfirmationAction("SUCCESS")) :
						t(langHelper.emailConfirmationAction("FAILURE"))
			}}
		</button>
		@if (seconds() && seconds()! > 0) {
			<span class="email-confirm__timer"
			      *transloco="let t">
					{{
					t(langHelper.emailConfirmationPage("TIMER"), {time: seconds()})
				}}</span>
		}
	</div>
</app-template-component>



