<app-drawer-element [isOpen]="isOpen()"
                    (isOpenChange)="isOpen.set($event)"
                    [overflowY]="'hidden'"
                    [paddingContainer]="'1rem 0 1rem 0'"
                    [paddingHeader]="'0 1rem 0 1rem'"
                    [title]="langHelper.mainPageNavigation('TITLE')"
                    buttonAlign="end"
                    class="navigation-container">
	<div class="navigation-content"
	     [class.isOpen]="isOpen()">
		<div class="top-content">
			@for (item of navigationTopItems(); track item.link) {
				@if (!item.isHidden) {
					<a class="content-item"
					   [class.disabled]="item.isDisabled"
					   [routerLink]="item.link"
					   [routerLinkActiveOptions]="{ exact: true }"
					   [routerLinkActive]="['active']">
						<svg class="content-item__icon">
							<use [attr.href]="item.iconPath"></use>
						</svg>
						<span class="content-item__text">{{item.text | transloco}}</span>
					</a>
				}
			}
		</div>
		<div class="bottom-content">
			@for (item of otherBottomItems(); track item.link) {
				@if (!item.isHidden) {
					<a class="content-item"
					   [class.disabled]="item.isDisabled"
					   [routerLink]="item.link"
					   [routerLinkActiveOptions]="{ exact: true }"
					   [routerLinkActive]="['active']">
						<svg class="content-item__icon">
							<use [attr.href]="item.iconPath"></use>
						</svg>
						<span class="content-item__text">{{item.text | transloco}}</span>
					</a>
				}
			}
			<button type="button"
			        (click)="onLogout()"
			        class="button-logout">
				<svg class="content-item__icon">
					<use [attr.href]="uiService.buildIconSvgPath('logout-icon')"></use>
				</svg>
				<span class="content-item__text">{{langHelper.mainPageNavigation("LOGOUT") | transloco}}</span>
			</button>
		</div>
	</div>
</app-drawer-element>