@use "placeholders" as *;
@use "mixins" as *;
.utility-container {
	height: auto;
}
.utility-content {
	display: grid;
	grid-template-rows: max-content;
	overflow: hidden;
}
.content-container {
	@extend %scrollbars;
	display: grid;
	gap: var(--standart-padding);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	animation: detect-navigation-scroll linear;
	animation-timeline: scroll(self);
	place-content: start stretch;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	overflow-y: auto;
	grid-row: 1/2;
}
.content-item__icon {
	position: relative;
	grid-column: 1/2;
	aspect-ratio: 1/1;
	width: 2rem;
	justify-self: center;
}
.content-item__text {
	@include transition-builder($transition-base, $transition-size, $transition-spacing);
	display: grid;
	font-size: 1.1rem;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	min-width: 7rem;
	margin: 0 0.5rem 0 0.5rem;
	text-align: start;
	.utility-content:not(.isOpen) & {
		width: 0;
		margin: 0;
		min-width: 0;
	}
}
.button-content {
	@extend %neo-btn;
	padding: 0.25rem;
	display: grid;
	margin-left: var(--standart-padding);
	margin-right: var(--standart-padding);
	align-items: center;
	position: relative;
	grid-template-columns: max-content 1fr;
}