<app-drawer-element [isOpen]="isOpen()"
                    (isOpenChange)="isOpen.set($event)"
                    [overflowY]="'hidden'"
                    [paddingContainer]="'1rem 0 1rem 0'"
                    [paddingHeader]="'0 1rem 0 1rem'"
                    [title]="langHelper.mainPageUtilities('TITLE')"
                    [buttonAlign]="'start'"
                    class="utility-container">
	<div class="utility-content"
	     [class.isOpen]="isOpen()">
		<div class="content-container">
			<button type="button"
			        class="button-content">
				<app-notification-element [count]="82" [position]="'top-right'"></app-notification-element>
				<svg class="content-item__icon">
					<use [attr.href]="uiService.buildIconSvgPath('notification-icon')"></use>
				</svg>
				<span class="content-item__text">{{langHelper.mainPageUtilities("NOTIFICATIONS") | transloco}}</span>
			</button>
		</div>
	</div>
</app-drawer-element>