<section class="background">
	<header [style.height.rem]="headerHeight()"
	        class="background__header">
		<button [routerLink]="'/main'"
		        class="background__header-title">{{applicationDetails.name | titlecase}}
		</button>
		<div class="background__header-content">
			<ng-content select="[header-conten]"></ng-content>
		</div>
		<button #trigger="appOverlayDropdownClickExport"
		        appOverlayDropdownClick
		        class="background__settings-button">
			<svg class="background__settings-icon">
				<use [attr.href]="buildIconSvgPath('settings-icon')">
				</use>
			</svg>
			@if (trigger.overlayContainerService.isOpened()) {
				<app-overlay-container-element [backDropClasses]="['cdk-overlay-transparent-backdrop']"
				                               [hasContainerBackground]="false"
				                               [positions]="[{ originX: 'end',
				                               originY: 'bottom',
				                               overlayX: 'end',
				                               overlayY: 'top',
				                               offsetY: 5}]">
					<div class="background__settings">
						<div class="background__settings-content">
							<ng-content select="[settings-container]"></ng-content>
						</div>
						<div class="background__settings-tools">
							@let width = "15rem";
							<app-select-element [itemSource]="themeService.themes()"
							                    [selectedValue]="themeService.selectedTheme()"
							                    (selectedValueChange)="themeService.onSelectedThemeChange($event)"
							                    [placeholder]="{iconPath:buildIconSvgPath('theme-icon'),
							                    description:'SETTINGS.THEME.DESCRIPTION' | translate,
							                    action: 'SETTINGS.THEME.ACTION' | translate}"
							                    [width]="width">
							</app-select-element>
							<app-select-element
									[placeholder]="{iconPath:buildIconSvgPath('language-icon'),
						                    description:'SETTINGS.LANGUAGE.DESCRIPTION' | translate,
						                    action: 'SETTINGS.LANGUAGE.ACTION' | translate}"
									[width]="width">
							</app-select-element>
							<app-select-element [itemSource]="animationService.animations()"
							                    [selectedValue]="animationService.selectedAnimation()"
							                    (selectedValueChange)="animationService.onSelectedAnimationChange($event)"
							                    [placeholder]="{iconPath:buildIconSvgPath('animation-icon'),
							                    description:'SETTINGS.ANIMATION.DESCRIPTION' | translate,
							                    action: 'SETTINGS.ANIMATION.ACTION' | translate}"
							                    [width]="width">
							</app-select-element>
						</div>
					</div>
				</app-overlay-container-element>
			}
		</button>
	</header>
	@if (isUsingScrollToBottom() && showTopScroll()) {
		<button (click)="scroll('bottom')"
		        class="background__scroll-button--top">
			<span>&#x27A4;</span>
		</button>
	}
	<main class="background__content">
		<section #scrollContainer
		         (scroll)="onScroll()"
		         class="background__content-wrapper">
			<ng-content></ng-content>
		</section>
	</main>
	@if (isUsingScrollToTop() && showBottomScroll()) {
		<button (click)="scroll('top')"
		        class="background__scroll-button--bottom">
			<span>&#x27A4;</span>
		</button>
	}
	<footer [style.height.rem]="footerHeight()"
	        class="background__footer">
		<p class="background__footer-copyright"> Ⓒ {{applicationDetails.currentYear}} All Rights Reserved.</p>
		<div class="background__footer-media">
			<a aria-label="GitHub"
			   class="background__footer-link"
			   href="https://github.com/i3070-inline"
			   rel="noopener noreferrer"
			   target="_blank">
				<svg class="background__footer-link-icon">
					<use [attr.href]="'asset/icons/github-icon.svg#github-icon'"
					     class="github"></use>
				</svg>
			</a>
			<a aria-label="LinkedIn"
			   class="background__footer-link"
			   href="https://www.linkedin.com/in/alexandru-musteață-8b4659157"
			   rel="noopener noreferrer"
			   target="_blank">
				<svg class="background__footer-link-icon">
					<use [attr.href]="buildIconSvgPath('linkedin-icon')"
					     class="linkedin"></use>
				</svg>
			</a>
			<a aria-label="Email"
			   class="background__footer-link"
			   href="mailto:alex.msst@gmail.com"
			   rel="noopener noreferrer"
			   target="_blank"
			   title="Send me an email">
				<svg class="background__footer-link-icon">
					<use [attr.href]="buildIconSvgPath('email-icon')"
					     class="email"></use>
				</svg>
			</a>
		</div>
	</footer>
</section>
