@use "mixins" as *;
@use "placeholders" as *;
.background {
	background: var(--background-color);
	background-attachment: fixed;
	background-image: var(--background-picture);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100dvh;
	position: relative;
	width: 100%;
}
.background__header {
	@include blur-effect($border-radius: 0 0 var(--border-radius) var(--border-radius), $shadow-type: var(--base-hover-shadow));
	display: grid;
	grid-template-areas: "title content settings";
	grid-template-columns: max-content 1fr max-content;
	overflow: hidden;
	padding: 0 var(--standart-padding);
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.background__header-title {
	align-self: center;
	cursor: pointer;
	display: grid;
	font-family: "Artistic", "Manrope", serif;
	font-size: 3rem;
	font-style: normal;
	font-weight: 1000;
	grid-area: title;
	justify-self: center;
	padding: 0;
	pointer-events: auto;
	text-align: center;
	text-shadow: var(--text-base-shadow);
	user-select: none;
	@extend %element-base;
	@include blur-effect($border-radius: 0, $blur-pixels: 0, $is-using-box-shadow: false);
	@include apply-shadow-on-action($isUsingHover: false, $isUsingFocusVisible: false, $isUsingActive: false, $isUsingFocusVisibleAnimation: true);
}
.background__header-content {
	display: flex;
	flex-direction: row-reverse;
	grid-area: content;
	position: relative;
}
.background__settings-button {
	@extend %neo-btn;
	align-self: center;
	grid-area: settings;
	justify-self: center;
	padding: 0;
	pointer-events: auto;
}
.background__settings-icon {
	height: 2.5rem;
	width: 2.5rem;
}
.background__settings {
	display: grid;
	grid-template-areas: "content" "tools";
	grid-template-rows: 1fr max-content;
}
.background__settings-content {
	display: flex;
	flex-direction: column;
	grid-area: content;
}
.background__settings-tools {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: calc(var(--standart-padding) * 2.5);
	grid-area: tools;
	justify-content: center;
	padding-top: calc(var(--standart-padding) * 1.5);
}
%scroll-button {
	@extend %neo-btn;
	align-content: center;
	height: 2.5rem;
	justify-content: center;
	position: fixed;
	width: 2.5rem;
	z-index: 2;
	span {
		scale: 1.2;
		transform-origin: center center;
	}
}
.background__scroll-button--top {
	@extend %scroll-button;
	right: var(--standart-padding);
	top: calc(var(--header-height) + var(--standart-padding));
	span {
		rotate: 90deg;
	}
}
.background__scroll-button--bottom {
	@extend %scroll-button;
	right: var(--standart-padding);
	span {
		rotate: -90deg;
	}
}
.background__content {
	display: grid;
	height: 100%;
	pointer-events: none;
	position: relative;
	width: 100%;
	z-index: 1;
}
.background__content-wrapper {
	@extend %scrollbars;
	animation: detect-scroll linear;
	animation-timeline: scroll(self);
	display: grid;
	overflow: auto;
	-webkit-overflow-scrolling: auto;
	overscroll-behavior: none;
	padding: var(--standart-padding);
	padding-right: calc(var(--standart-padding) * (1 - 0.5 * var(--can-scroll)));
	pointer-events: auto;
	position: relative;
}
.background__footer {
	@include blur-effect($border-radius: 0 0 var(--border-radius) var(--border-radius), $shadow-type: var(--base-hover-shadow));
	bottom: 0;
	display: grid;
	grid-template-areas: "links copyright";
	grid-template-columns: 1fr max-content;
	overflow: hidden;
	padding: 0 var(--standart-padding);
	pointer-events: none;
	position: absolute;
	rotate: 180deg;
	width: 100%;
	z-index: 2;
}
.background__footer-copyright {
	align-self: center;
	font-weight: 400;
	grid-area: copyright;
	rotate: -180deg;
	user-select: none;
}
.background__footer-media {
	align-content: center;
	display: grid;
	grid-area: links;
	grid-auto-flow: column;
	grid-column-gap: 1rem;
	justify-content: end;
	rotate: -180deg;
}
.background__footer-link-icon {
	@extend %icon-base;
	.github {
		color: var(--text-muted-color)
	}
	.linkedin {
		color: var(--secondary-color)
	}
	.email {
		color: var(--error-color)
	}
}
.background__footer-link {
	padding: 0;
	@extend %neo-btn;
	pointer-events: auto;
}
@include respond-to-multiple("tel", "mob") {
	.background__header-title {
		font-size: 2.5rem;
	}
	.background__footer-copyright {
		display: none;
	}
	.background__footer-media {
		justify-content: space-between;
	}
}


