html[theme="dark"] {
	background-color: #242129;
	color: #FFFFFF;
}
html[theme="light"] {
	background-color:#E0E0E0;
	color: #000000CC;
}
html[theme="system"] {
	@media (prefers-color-scheme: light) {
		background-color: #E0E0E0;
		color: #000000CC;
	}
	@media (prefers-color-scheme: dark) {
		background-color: #242129;
		color: #FFFFFF;
	}
}