<div [class.isOpen]="isOpen()"
     class="drawer-container"
     [style.max-height]="maxHeight()"
     [style.max-width]="maxWidth()">
	<div class="header-wrapper">
		@if (title()) {
			<span class="drawer-title"
			      [ngClass]="buttonAlign()">{{title() | transloco}}</span>
		}
		<button (click)="isOpen.set(!isOpen())"
		        [style.place-self]="buttonAlign()"
		        class="hamburg-button"
		        type="button">
			<div class="toggle">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</button>
	</div>
	<div [style.overflow-y]="overflowY()"
	     class="drawer-content">
		<ng-content></ng-content>
	</div>
</div>