@use "mixins" as *;
@use "placeholders" as *;
.form-register {
	display: grid;
	align-items: center;
	--margin-top-botton: calc(var(--standart-padding) * 1.7);
	padding: calc(var(--standart-padding) * 2);
	grid-template-rows: 1fr max-content max-content max-content 1fr max-content;
}
.register-text {
	justify-self: center;
	text-align: center;
	white-space: normal;
	word-break: break-word;
	overflow-wrap: break-word;
	grid-row: 1/2;
	margin: var(--margin-top-botton) 0;
	font-weight: 700;
	font-size: 2rem;
	text-shadow: var(--text-base-shadow);
	&.disabled {
		@extend %disabled;
	}
}
.register-username {
	margin: var(--margin-top-botton) 0;
	grid-row: 2/3;
}
.register-password {
	margin: var(--margin-top-botton) 0;
	grid-row: 3/4;
}
.register-confirm-password {
	margin: var(--margin-top-botton) 0;
	grid-row: 4/5;
}
.register-button {
	@extend %neo-btn;
	min-width: 10rem;
	margin: var(--margin-top-botton) 0;
	justify-self: center;
	grid-row: 5/6;
}
.information-container {
	display: none;
	place-self: center;
	flex-direction: row;
	align-items: center;
	grid-row: 6/7;
	&.disabled {
		@extend %disabled;
	}
}
.information-icon {
	height: 1.2rem;
	width: 1.2rem;
}
.information-text {
	margin-left: calc(var(--standart-padding) / 2);
	font-weight: 400;
	font-size: 0.8rem;
	white-space: normal;
	word-break: break-word;
	overflow-wrap: break-word;
}
@include respond-to-multiple("tel", "mob") {
	.login-text {
		font-size: 1.5rem;
	}
	.login-hyperlink {
		margin: auto;
	}
	.information-container {
		display: flex;
	}
}