@if (registerService.accountForm(); as reg) {
	<form [formGroup]="reg"
	      (ngSubmit)="onSubmitRegisterForm()"
	      class="form-register">
		<h1 [class.disabled]="reg.disabled"
		    class="register-text">{{"LOGIN_PAGE.SIGN_UP_FORM.TITLE" | transloco}}</h1>
		<app-input-element [clearIconIsVisible]="true"
		                   [formControlName]="'email'"
		                   [disabled]="reg.disabled || registerService.isExecuting()"
		                   [inputErrorHint]="uiService.validatorHandler.getErrorMessage(reg.controls.email)"
		                   [inputType]="'email'"
		                   [placeholder]="{iconPath:uiService.buildIconSvgPath('user-email-icon'),
		                   description:'LOGIN_PAGE.EMAIL.DESCRIPTION' | transloco,
		                   action: 'LOGIN_PAGE.EMAIL.ACTION' | transloco}"
		                   class="register-username">
		</app-input-element>
		<app-input-element [eyeIconIsVisible]="true"
		                   [formControlName]="'password'"
		                   [inputErrorHint]="uiService.validatorHandler.getErrorMessage(reg.controls.password)"
		                   [inputType]="'password'"
		                   [disabled]="reg.disabled || registerService.isExecuting()"
		                   [placeholder]="{iconPath:uiService.buildIconSvgPath('password-icon'),
		                   description:'LOGIN_PAGE.PASSWORD.DESCRIPTION' | transloco,
		                   action: 'LOGIN_PAGE.PASSWORD.ACTION' | transloco}"
		                   class="register-password">
		</app-input-element>
		<app-input-element [eyeIconIsVisible]="true"
		                   [formControlName]="'confirmPassword'"
		                   [inputErrorHint]="uiService.validatorHandler.getErrorMessage(reg.controls.confirmPassword)"
		                   [inputType]="'password'"
		                   [disabled]="reg.disabled || registerService.isExecuting()"
		                   [placeholder]="{iconPath:uiService.buildIconSvgPath('password-icon'),
		                   description:'LOGIN_PAGE.CONFIRM_PASSWORD.DESCRIPTION' | transloco,
		                   action: 'LOGIN_PAGE.CONFIRM_PASSWORD.ACTION' | transloco}"
		                   class="register-confirm-password">
		</app-input-element>
		<button [disabled]="reg.disabled || registerService.isExecuting()"
				class="register-button">{{"LOGIN_PAGE.SIGN_UP_FORM.ACTION" | transloco}}
		</button>
		<div [class.disabled]="reg.disabled"
		     class="information-container">
			<svg class="information-icon">
				<use [attr.href]="uiService.buildIconSvgPath('info-circle-icon')"></use>
			</svg>
			<span class="information-text">{{"LOGIN_PAGE.SIGN_INFO" | transloco}}</span>
		</div>
	</form>
}