@if (registerService.accountForm(); as reg) {
	<form [formGroup]="reg"
	      class="form-register">
		<h1 [class.disabled]="reg.disabled"
		    class="register-text">{{"LOGIN_PAGE.SIGN_UP_FORM.TITLE" | translate}}</h1>
		<app-input-element [clearIconIsVisible]="true"
		                   [formControlName]="'username'"
		                   [inputErrorHint]="validatorHandlerService.getErrorMessage(reg.controls.username)"
		                   [inputType]="'text'"
		                   [placeholder]="{iconPath:buildIconSvgPath('user-icon'),
		                   description:'LOGIN_PAGE.USERNAME.DESCRIPTION' | translate,
		                   action: 'LOGIN_PAGE.USERNAME.ACTION' | translate}"
		                   class="register-username">
		</app-input-element>
		<app-input-element [eyeIconIsVisible]="true"
		                   [formControlName]="'password'"
		                   [inputErrorHint]="validatorHandlerService.getErrorMessage(reg.controls.password)"
		                   [inputType]="'password'"
		                   [placeholder]="{iconPath:buildIconSvgPath('password-icon'),
		                   description:'LOGIN_PAGE.PASSWORD.DESCRIPTION' | translate,
		                   action: 'LOGIN_PAGE.PASSWORD.ACTION' | translate}"
		                   class="register-password">
		</app-input-element>
		<app-input-element [eyeIconIsVisible]="true"
		                   [formControlName]="'confirmPassword'"
		                   [inputErrorHint]="validatorHandlerService.getErrorMessage(reg.controls.confirmPassword)"
		                   [inputType]="'password'"
		                   [placeholder]="{iconPath:buildIconSvgPath('password-icon'),
		                   description:'LOGIN_PAGE.CONFIRM_PASSWORD.DESCRIPTION' | translate,
		                   action: 'LOGIN_PAGE.CONFIRM_PASSWORD.ACTION' | translate}"
		                   class="register-confirm-password">
		</app-input-element>
		<button (click)="onSubmitRegisterForm()"
		        [disabled]="reg.disabled"
		        class="register-button">{{"LOGIN_PAGE.SIGN_UP_FORM.ACTION" | translate}}
		</button>
		<div [class.disabled]="reg.disabled"
		     class="information-container">
			<svg class="information-icon">
				<use [attr.href]="buildIconSvgPath('info-circle-icon')"></use>
			</svg>
			<span class="information-text">{{"LOGIN_PAGE.SIGN_INFO" | translate}}</span>
		</div>
	</form>
}