@if (registerService.accountForm(); as reg) {
	<form [formGroup]="reg"
	      class="form-register">
		<h1 [class.disabled]="reg.disabled"
		    class="register-text">{{langHelper.loginForm('SIGN_UP', 'TITLE') | transloco}}</h1>
		<app-input-element [clearIconIsVisible]="true"
		                   [formControlName]="'email'"
		                   [inputType]="'email'"
		                   [placeholder]="{
                                            iconPath: uiService.buildIconSvgPath('user-email-icon'),
                                            description: langHelper.emailField('DESCRIPTION') | transloco,
                                            action: langHelper.emailField('ACTION') | transloco}"
		                   class="register-username">
		</app-input-element>
		<app-input-element [eyeIconIsVisible]="true"
		                   [formControlName]="'password'"
		                   [inputType]="'password'"
		                   [placeholder]="{
                                            iconPath: uiService.buildIconSvgPath('password-icon'),
                                            description: langHelper.passwordField('DESCRIPTION') | transloco,
                                            action: langHelper.passwordField('ACTION') | transloco}"
		                   class="register-password">
		</app-input-element>
		<app-input-element [eyeIconIsVisible]="true"
		                   [formControlName]="'confirmPassword'"
		                   [inputType]="'password'"
		                   [placeholder]="{
                                            iconPath: uiService.buildIconSvgPath('password-icon'),
                                            description: langHelper.confirmPasswordField('DESCRIPTION') | transloco,
                                            action: langHelper.confirmPasswordField('ACTION') | transloco}"
		                   class="register-confirm-password">
		</app-input-element>
		<button [disabled]="reg.disabled"
		        (click)="onSubmitRegisterForm()"
		        type="button"
		        class="register-button">{{langHelper.loginForm('SIGN_UP', 'ACTION') | transloco}}
		</button>
		<div [class.disabled]="reg.disabled"
		     class="information-container">
			<svg class="information-icon">
				<use [attr.href]="uiService.buildIconSvgPath('info-circle-icon')"></use>
			</svg>
			<span class="information-text">{{langHelper.loginInfo() | transloco}}</span>
		</div>
	</form>
}