<app-template-component #template>
	<button #trigger="appOverlayDropdownClickExport"
	        appOverlayDropdownClick
	        aria-label="Settings"
	        class="user-button"
	        header-content
	        type="button">
		@if (authService.currentUser()?.imageUrl; as imageUrl) {
			<img [ngSrc]="uiService.buildImagePath(imageUrl , 'jpg')"
			     priority="true"
			     width="10"
			     height="10"
			     class="user-small-icon"
			     alt="User image">
		} @else {
			<svg class="user-small-icon">
				<use [attr.href]="uiService.buildIconSvgPath('user-icon')">
				</use>
			</svg>
		}
		@if (trigger.overlayContainerService.isOpened()) {
			<app-overlay-container-element [hasContainerBackground]="false"
			                               [minWidth]="'25rem'"
			                               [minHeight]="'15rem'"
			                               [maxWidth]="'min(35rem, 80dvw)'"
			                               [maxHeight]="'min(25rem, 80dvh)'"
			                               [positions]="[{ originX: 'end',
				                               originY: 'bottom',
				                               overlayX: 'end',
				                               overlayY: 'top',
				                               offsetY: 5}]">
				<div class="user-container">
					@if (authService.currentUser()?.imageUrl; as imageUrl) {
						<img [ngSrc]="uiService.buildImagePath(imageUrl , 'jpg')"
						     priority="true"
						     width="10"
						     height="10"
						     class="user-big-icon"
						     alt="User image">
					} @else {
						<svg class="user-big-icon">
							<use [attr.href]="uiService.buildIconSvgPath('user-icon')">
							</use>
						</svg>
					}
					<div class="user-container__id">
						<svg class="user-container-icon">
							<use [attr.href]="uiService.buildIconSvgPath('badge-icon')">
							</use>
						</svg>
						<span
								class="user-container-text">{{langHelper.userInfo("ID") | transloco}}</span>
						<span class="user-container-value">{{authService.currentUser()?.id}}</span>
					</div>
					<div class="user-container__username">
						<svg class="user-container-icon">
							<use [attr.href]="uiService.buildIconSvgPath('user-icon')">
							</use>
						</svg>
						<span
								class="user-container-text">{{langHelper.userInfo("USERNAME") | transloco}}</span>
						<span class="user-container-value">{{authService.currentUser()?.username}}</span>
					</div>
					<div class="user-container__role">
						<svg class="user-container-icon">
							<use [attr.href]="uiService.buildIconSvgPath('user-shield-icon')">
							</use>
						</svg>
						<span
								class="user-container-text">{{langHelper.userInfo("ROLE") | transloco}}</span>
						<span class="user-container-value">{{authService.currentUser()?.role}}</span>
					</div>
				</div>
			</app-overlay-container-element>
		}
	</button>
	<div class="main-container">
		<app-navigation-component [style.height]="'calc(100dvh - ' + template.headerHeight() + 'rem - ' +
		template.footerHeight() +'rem - (var(--standart-padding) * 2))'"
		                          class="main-navigation">
		</app-navigation-component>
		<main class="main-content">
			<router-outlet></router-outlet>
		</main>
		<app-drawer-element [maxHeight]="'calc(100dvh - ' + template.headerHeight() + 'rem - ' +
		template.footerHeight() + 'rem - (var(--standart-padding) * 5))'"
		                    class="main-sidebar"
		                    [buttonAlign]="'start'">
			<button type="button"
			        class="button-logout">
				<svg class="content-item__icon">
					<use [attr.href]="uiService.buildIconSvgPath('logout-icon')"></use>
				</svg>
				<span class="content-item__text">{{langHelper.mainPageNavigation("LOGOUT") | transloco}}</span>
			</button>
		</app-drawer-element>
	</div>
</app-template-component>

