:root {
	--primary-color: #2ad1ff;
	--secondary-color: #1377b3;
	--accent-color: #00b6b6;
	--error-color: #e86d4e;
	--success-color: #7be47a;
	--warning-color: #ffe066;
	--info-color: #a3d9fa;
	--background-color: #33303A;
	--bottom-color-shadow: #00000080;
	--top-color-shadow: #C0C0C020;
	--text-main-color: #FFFFFF;
	--text-muted-color: #AAB8C2;
	--background-picture: url("assets/icons/dark-background.png");
	--text-base-shadow: -0.03rem -0.03rem 0.03rem var(--background-color),
	0.03rem 0.03rem 0.03rem var(--text-main-color);
	--base-shadow: -0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow),
	inset 0 0 0 var(--top-color-shadow),
	inset 0 0 0 var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	--inset-shadow: -0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow),
	inset -0.2rem -0.2rem 0.35rem var(--top-color-shadow),
	inset 0.2rem 0.2rem 0.35rem var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	--base-hover-shadow: -0.2rem -0.2rem 0.35rem var(--top-color-shadow),
	0.2rem 0.2rem 0.35rem var(--bottom-color-shadow),
	inset 0 0 0 var(--top-color-shadow),
	inset 0 0 0 var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	--inset-hover-shadow: -0.2rem -0.2rem 0.35rem var(--top-color-shadow),
	0.2rem 0.2rem 0.35rem var(--bottom-color-shadow),
	inset -0.35rem -0.35rem 0.35rem var(--top-color-shadow),
	inset 0.35rem 0.35rem 0.35rem var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	--base-active-shadow: -0.05rem -0.05rem 0.35rem var(--top-color-shadow),
	0.05rem 0.05rem 0.35rem var(--bottom-color-shadow),
	inset 0 0 0 var(--top-color-shadow),
	inset 0 0 0 var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	--inset-active-shadow: -0.05rem -0.05rem 0.35rem var(--top-color-shadow),
	0.05rem 0.05rem 0.35rem var(--bottom-color-shadow),
	inset -0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	inset 0.1rem 0.1rem 0.35rem var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	.overlay-backdrop {
		background-color: #FFFFFF50
	}
}