:root {
	--primary-color: #11c0f7;
	--secondary-color: #0e5c8a;
	--accent-color: #009999;
	--error-color: #db4d2e;
	--success-color: #5ec85e;
	--warning-color: #ffd740;
	--info-color: #89c6f2;
	--background-color: #BDBDBD;
	--bottom-color-shadow: #00000050;
	--top-color-shadow: #F8FAFC95;
	--text-main-color: #000000CC;
	--text-muted-color: #6A8395;
	--background-picture: url("assets/icons/light-background.png");
	--text-base-shadow: -0.03rem -0.03rem 0.03rem var(--background-color),
	0.03rem 0.03rem 0.03rem var(--text-main-color);
	--base-shadow: -0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow),
	inset 0 0 0 var(--top-color-shadow),
	inset 0 0 0 var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	--inset-shadow: -0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow),
	inset -0.2rem -0.2rem 0.35rem var(--top-color-shadow),
	inset 0.2rem 0.2rem 0.35rem var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	--base-hover-shadow: -0.2rem -0.2rem 0.35rem var(--top-color-shadow),
	0.2rem 0.2rem 0.35rem var(--bottom-color-shadow),
	inset 0 0 0 var(--top-color-shadow),
	inset 0 0 0 var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	--inset-hover-shadow: -0.2rem -0.2rem 0.35rem var(--top-color-shadow),
	0.2rem 0.2rem 0.35rem var(--bottom-color-shadow),
	inset -0.35rem -0.35rem 0.35rem var(--top-color-shadow),
	inset 0.35rem 0.35rem 0.35rem var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	--base-active-shadow: -0.05rem -0.05rem 0.35rem var(--top-color-shadow),
	0.05rem 0.05rem 0.35rem var(--bottom-color-shadow),
	inset 0 0 0 var(--top-color-shadow),
	inset 0 0 0 var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	--inset-active-shadow: -0.05rem -0.05rem 0.35rem var(--top-color-shadow),
	0.05rem 0.05rem 0.35rem var(--bottom-color-shadow),
	inset -0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	inset 0.1rem 0.1rem 0.35rem var(--bottom-color-shadow),
	-0.1rem -0.1rem 0.35rem var(--top-color-shadow),
	0.1rem 0.1rem 0.35rem var(--bottom-color-shadow);
	.overlay-backdrop {
		background-color: #00000050
	}
}
